# Django-specific
*.log
*.pot
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.pid

# Media directory
/media/
/static/js
/static/images

# Static files collected during deployment
/staticfiles/

# Environment variables and sensitive files
.env





