attrs==25.3.0
asgiref==3.9.1
boto3==1.40.37
botocore==1.40.37
dj-database-url==3.0.1
Django==5.2.6
django-tinymce==4.1.0
django-bleach==3.1.0
django-debug-toolbar==6.0.0
django-storages==1.14.6
djangorestframework==3.16.1
django-filter==25.1
drf-spectacular==0.28.0
easy-thumbnails==2.10.1
gunicorn==23.0.0
inflection==0.5.1
PyYAML==6.0.3
packaging==25.0
python-decouple==3.8
psycopg2-binary==2.9.10
Pillow==10.1.0
postgrest==2.20.0
realtime==2.20.0
storage3==2.20.0
s3transfer==0.14.0
sqlparse==0.4.4
supabase==2.20.0
supabase-auth==2.20.0
supabase-functions==2.20.0
typing_extensions==4.15.
whitenoise==6.9.0


