asgiref==3.9.1
bleach==5.0.1
dj-database-url==3.0.1
Django==5.2.6
django-bleach==3.1.0
django-debug-toolbar==6.0.0
django-js-asset==3.1.2
django-tinymce==4.1.0
easy-thumbnails==2.10.1
gunicorn==23.0.0
mysqlclient==2.2.0
packaging==25.0
Pillow==10.1.0
psycopg2-binary==2.9.10
python-decouple==3.8
six==1.17.0
sorl-thumbnail==12.11.0
sqlparse==0.4.4
tinycss2==1.1.1
typing_extensions==4.8.0
webencodings==0.5.1
whitenoise==6.9.0
